<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MyWebSite.com</title>
  <style type="text/css">
h1{text-align:center;
     font-family:cursive;
          color:#D2691E;
}
.footer .copyright{
position:fixed;
text-align:center;
bottom:0px;
width:100%;
}
.nav {
  
overflow: hidden;
 
 background-color: #F0E68;

}


.nav a {
  
float: right;
  
color: #20B2AA;
  
text-align: center;
  
padding: 10px 13px;
 
 text-decoration: none;
 
 font-size: 20px;

}


.nav a:hover {
 
 background-color:
 #008080;
  color: #F5F5DC;

}        
</style>               
</head>
<body>
<div class="nav">
     <a href="/login">Login</a>|
    <a href="/about">About</a>|
    <a href="/home">Home</a>
</div>
<br/>
<br/>
<br/>
<h1>Dr ELECTRO</h1><br/>
<br/>
<center><i><b><h2>New User? Register Here</h2></center></b></i>
<center>
<form action="/register" method="post">
    User Name: <input type="text" name="uname" required/>
    <br>
    <br>
    Password: <input type="password" name="pw1" required>
    <br>
    <br>
    Re Enter Password: <input type="password" name="pw2" required>
    <br>
    <br>
    Email: <input type="email" name="email" required>
    <br>
    <br>
    <input type="submit" value="Click Here To Register">

</form>
</center>
<section class="footer">
<p class="copyright">
@ Copyright   Dr Electro 2022.<br/>
All rights reserved</p>
</body>
</html>