<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome to MyWebSite.com</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body background="{{ url_for('static', filename='images/bg2.jpg') }}" style="background-size:cover;">
<nav class="nav">
    <img src="{{ url_for('static', filename='images/logo3.jpeg') }}" class="img-fluid">
     <a href="/view_devices">View Devices </a>
    <a href="/newdevice"> New Device </a>
     <a href="/login">Login</a>
    <a href="/about">About</a>
    <a href="/">Home</a>
</nav>
<h1>Dr Electro</h1>
{% block bodycontent %}
{% endblock %}
<section class="footer">
<p class="copyright">
@ Copyright   Dr Electro 2022.<br/>
    All rights reserved</p>
</section>
</body>
</html>