{% extends "mytemplate.html" %}
{% block bodycontent %}
<h2 style="text-align:center">New User? Register Here</h2>
<center>
<form action="/register" method="post">
    <table>
        <tr>
            <td>
              <font color="#FFFFFF">User Name: </font>
            </td>
            <td>
                <input type="text" name="uname" required/>
                <br>
                <br>
            </td>
        </tr>
        <tr>
            <td>
            <font color="#FFFFFF"> Password: </font>
            </td>
            <td>
              <input type="password" name="pw1" required>
              <br>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                          <font color="#FFFFFF">   Re Enter Password:</font>
            </td>
            <td>
              <input type="password" name="pw2" required>
              <br>
              <br>
            </td>
        </tr>
        <tr>
            <td>
                <font color="#FFFFFF"> Email:  </font>

            </td>
            <td>
               <input type="email" name="email" required>
               <br>
               <br>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                    <input type="submit" value="Click Here To Register">

            </th>
        </tr>
    </table>
</form>
</center>
{% endblock %}